
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable-example" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th width="15%">
                        <a href="#" class="btn btn-danger btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-plus"></i>
                            </span>
                        </a>
                    </th>
                </tr>
            </thead>

        </table>
    </div>
</div>



@section Myscript{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="~/Assets/DataTable/jquery.dataTables.min.js"></script>
    <script>
        function Delete(id) {
            debugger;
            $.ajax({
                type: "post",
                url: "/Admin/User/Delete",
                data: id,
                success: function (result) {
                    if (result == true) {
                        window.alert("Xóa thành công");
                        window.location.href = "/Admin/User/Index";
                        debugger;
                    }
                    else {
                        window.alert("Xóa thất bại");
                        window.location.href = "/Admin/User/Index";
                        debugger;
                    }
                }
            })
            debugger;
        }

        $(document).ready(function Load_danhsach() {
            $("#dataTable-example").DataTable({
                ajax: {
                    url: "/Admin/Role/GetAll",
                    type: "POST",
                    datatype: "json"
                },
                columns: [
                    { data: "Name", autowidth: true },
                    { data: "Role", autowidth: true },
                    {
                        data: "ID", autowidth: true, render: function (data) {
                            return `
                                     <div class ="row ">
                                        <a href="#" class="btn btn-success btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-pen"></i>
                                            </span>
                                        </a>
                                        <a  onclick="Delete(${data})" class="btn btn-secondary btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-trash"></i>
                                            </span>
                                        </a>
                                    </div>
                                    `;
                        }
                    }
                    ],
                'paging': false,
                'lengthChange': false,
                'searching': false,
                'ordering': false,
                'info': false,
                'responsive': false,
                "scrollY": 300,
            });
        })
    </script>

}




